body {
  display: flex;
  flex-direction: column;
}

section {
  flex: 1;
  display: flex;
}

.cart-container {
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px;
  width: 100%;
  min-height: 85vh;
}

.cart-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow-y: auto;
  margin: 20px 0;
}
.cart-item {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 15px;
  border: 2px solid var(--glass-border);
  background-color: var(--glass-background);
  border-radius: 25px;
  position: relative;
}
.cart-item img {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
}

.cart-summary {
  display: flex;
}

.cart-item-remove {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: var(--main-color);
  cursor: pointer;
}

.checkout-btn {
  color: white;
  border: none;
  border-radius: 20px;
  padding: 5px 15px;
  background-color: transparent;
  border: 2px solid var(--main-color);
  cursor: pointer;
}

.checkout-btn:hover {
  background-color: var(--main-color);
}
.cart-item-info {
  margin-left: 10px;
}
.cart-item-info h3 {
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 5px;
}

.cart-item-info p {
  font-size: 18px;
  font-weight: 500;
}
.total-price {
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.cart-summary {
  display: flex;
  justify-content: space-between;
}

.cart-summary div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
