* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #153e54;
  font-family: Montserrat, sans-serif;
}

section {
  display: flex;
  min-height: 100vh;
  min-width: 100%;
  background-color: #ffffff14;
  justify-content: center;
  align-items: center;
}

.box {
  position: relative;
}

.container {
  position: relative;
  width: 400px;
  min-height: 400px;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1),
    inset 0 0 5px rgba(255, 255, 255, 0.1);
}

.form {
  position: relative;
  width: 100%;
  height: 100%;
  padding: 40px;
}

.form h2 {
  color: white;
  font-size: 24px;
  position: relative;
  margin-bottom: 40px;
}

.form h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 80px;
  background: white;
  height: 2px;
  border-radius: 5px;
}

.form .input {
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.form .input input {
  width: 100%;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 40px;
  height: 45px;
  padding: 20px;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.1),
    0 5px 15px rgba(0, 0, 0, 0.05);
  font-size: 15px;
  color: white;
}

.form .input input::placeholder {
  color: rgba(255, 255, 255, 0.5);
}

.form .input input[type="submit"] {
  width: 100px;
  height: 40px;
  color: rgba(0, 0, 0, 0.7);
  background-color: #f9f9f9;
  cursor: pointer;
  margin-bottom: 20px;
  padding: 10px;
  font-weight: 600;
}

p {
  font-size: 15px;
  margin-bottom: 5px;
  color: white;
}
a {
  text-decoration: none;
  color: #90b1ff;
  font-weight: 600;
}

.box .square {
  position: absolute;
  backdrop-filter: blur(10px);
  box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.1);
  background: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  animation: animate 10s linear infinite;
}

@keyframes animate {
  0%,
  100% {
    transform: translate(20px, -40px);
  }
  50% {
    transform: translate(-20px, 40px);
  }
}

.box .square:nth-child(1) {
  top: -50px;
  right: -60px;
  width: 100px;
  height: 100px;
}

.box .square:nth-child(2) {
  top: 150px;
  left: -100px;
  width: 120px;
  height: 120px;
  z-index: 2;
  animation-delay: -2s;
}

.box .square:nth-child(3) {
  bottom: 50px;
  right: -60px;
  width: 80px;
  height: 80px;
  z-index: 2;
  animation-delay: -4s;
}

.box .square:nth-child(4) {
  bottom: -80px;
  left: 100px;
  width: 50px;
  height: 50px;
  animation-delay: -6s;
}

.box .square:nth-child(5) {
  top: -80px;
  left: 140px;
  width: 60px;
  height: 60px;
  animation-delay: -8s;
}
