.hero {
  background-image: linear-gradient(
      135deg,
      rgba(14, 14, 14, 0.5),
      rgba(14, 14, 14, 0.6)
    ),
    url("../img/item3/herobg.jpg");
  display: flex;
  align-items: flex-end;
}

.hero-info {
  margin-bottom: 50px;
}
.hero p {
  font-weight: 500;
}

.jewelry-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  row-gap: 30px;
  margin: 30px 0;
}

.load-more-btn {
  background-color: transparent !important;
  transition: all 0.2s ease;
}
.load-more-btn:hover {
  background-color: var(--main-color) !important;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.jewelry-item {
  background: transparent;
  position: relative;
  height: 400px;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  overflow: hidden;
}
.jewelry-image {
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0;
  overflow: hidden;
}
.jewelry-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}
.jewelry-item:hover .jewelry-image img {
  transform: scale(1.05);
}
.jewelry-info {
  margin-top: 10px;
  padding: 0 5px 0 5px;
}

.jewelry-title {
  margin-bottom: 10px;
}
.jewelry-price {
  font-weight: 600;
  margin-bottom: 2px;
}
.add-to-cart-btn,
.load-more-btn {
  padding: 5px 15px;
  border-radius: 15px;
  background-color: var(--main-color);
  border: none;
  color: white;
  border: 2px solid var(--main-color);
  transition: all 0.2s ease;
  cursor: pointer;
  outline: none;
}
.add-to-cart-btn {
  position: absolute;
  bottom: 0;
  left: 5px;
}
.add-to-cart-btn:hover {
  background-color: transparent;
}

.catalog-section {
  display: flex;
  align-items: center;
  margin: auto auto;
  gap: 20px;
  width: 80%;
}
.catalog-section .container {
  width: 100%;
}
.sidebar {
  width: 210px;

  background-color: transparent;
  border: 2px solid var(--main-color);
  border-radius: 20px;
  padding: 20px 10px;
  color: white;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: sticky;
  top: 100px;
}

.checkboxes {
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-top: 10px;
}

.checkboxes label {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 7px;
  font-size: 12px;
}

.checkboxes input[type="checkbox"] {
  accent-color: var(--main-color);
  cursor: pointer;
}

.sidebar select,
.filter-btn {
  border: none;
  outline: none;
  padding: 5px 10px;
  border-radius: 8px;
  margin-top: 10px;
  color: white;
  background-color: transparent !important;
  border: 2px solid var(--main-color);
}

.filter-btn {
  background-color: var(--main-color) !important;
  margin-top: 0;
  cursor: pointer;
}

option {
  background-color: var(--main-color);
  outline: none;
  border: none;
}
