.hero {
  background-image: linear-gradient(
      135deg,
      rgba(14, 14, 14, 0.5),
      rgba(14, 14, 14, 0.6)
    ),
    url("../img/item1/herobg.jpg");
}

.hero {
  display: flex;
  align-items: flex-end;
}
.hero-info {
  margin-bottom: 50px;
}
.hero p {
  font-weight: 500;
}

body {
  background-color: #181818;
}

.shop {
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.shop-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.shop-text {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.shop-text p:nth-child(1) {
  font-weight: 400;
  font-size: 19px;
}

.shop-buttons ul {
  display: flex;
  flex-direction: row;
  column-gap: 15px;
}
.shop-buttons a {
  padding: 7px 15px;
  border-radius: 20px;
  border: 2px solid var(--main-color);
}

.shop-buttons a:hover {
  background-color: var(--main-color);
}

.item1-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  margin-top: 40px;
}

.item1-grid-item {
  border-radius: 10px;
  height: 470px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  transition: all 0.3s ease;
}

.item1-grid-item h3 {
  margin-bottom: 3px;
}

.item1-grid-item img {
  flex-shrink: 0;
  width: 100%;
  height: 340px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
  pointer-events: none;
}

.item1-grid-item a {
  margin-top: auto;
}
.a-card {
  padding: 6px 14px;
  border-radius: 40px;
  width: fit-content;
  margin: 10px 0 0 10px;
  background-color: var(--main-color);
}

.item1-grid-content {
  padding: 10px;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
  overflow: hidden;
}
.exclusive-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
}

.exclusive-item {
  position: relative;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);
}
.exclusive-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.exclusive-bg .exclusive-image-bg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: blur(20px) brightness(0.7);
  transform: scale(1.1);
  flex-grow: 1;
}
.exclusive-item-content {
  z-index: 2;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  position: relative;
  padding: 40px 20px;
  padding-bottom: 60px;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.exclusive-item-content .exclusive-image {
  margin-top: 20px;
  width: 100%;
  height: 80%;
  object-fit: cover;
  border-radius: 10px;
  aspect-ratio: 4/3;
  position: relative;
}
.exclusive-item-content h1 {
  font-size: 1.5em;
}
.exclusive-btn {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  padding: 12px 30px;
  background-color: var(--glass-background);
  border: var(--glass-border);
  cursor: pointer;
  backdrop-filter: blur(10px);
  border-radius: 25px;
  color: white;
}
