:root {
  --main-color: #285c78;
  --glass-border: 1px solid rgba(255, 255, 255, 0.1);
  --glass-background: rgba(255, 255, 255, 0.08);
  --second-color: #490506;
}

.hero {
  background-image: linear-gradient(
      135deg,
      rgba(14, 14, 14, 0.7),
      rgba(14, 14, 14, 0.6)
    ),
    url("../img/hero/herobg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh + 10px);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
header h2 {
  font-weight: 400;
}
body {
  font-family: Montserrat, sans-serif;
  color: white;
  overflow-x: hidden;
  background-color: #181818;
  background-image: linear-gradient(
    135deg,
    rgba(18, 18, 18, 0.9),
    /* #285c78 с прозрачностью 70% */ #285c782e
      /* #285c78 с прозрачностью 40% */
  );
}
.hero > img {
  height: 100%;
}
.hero h1 {
  font-size: 4em;
  color: white;
  margin-bottom: 18px;
  text-shadow: 0 0 30px rgba(255, 255, 255, 0.5),
    0 0 60px rgba(40, 92, 120, 0.3);
  animation: glow 3s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  }
  to {
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.8),
      0 0 40px rgba(40, 92, 120, 0.4);
  }
}
.hero h2 {
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  margin-bottom: 18px;
}
.hero p {
  font-size: 1em;
  font-weight: 200;
}

.hero-info {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
}

header {
  position: fixed;
  top: 15px;
  left: 50%;
  transform: translateX(-50%);
  height: 60px;
  width: 85%;
  font-size: 14px;
  padding: 0.5em 50px;
  border-radius: 20px;
  border: var(--glass-border);
  background: var(--glass-background);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  transition: all 0.3s ease; /*сюда хочу js отслеживание мышки*/
}

header img {
  height: 100px;
}

.nav-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-list a {
  color: white;
  padding: 7px 10px;
  border-radius: 25px;
  transition: all 0.2s ease;
  position: relative;
}
.nav-list a::after {
  content: "";
  position: absolute;
  background-color: var(--main-color);
  width: 0%;
  height: 2px;
  bottom: 0;
  left: 0;
  transition: all 0.2s ease;
}
.nav-list a:hover::after {
  width: 100%;
}
.nav-list li.btn a {
  background-color: var(--main-color);
  border-radius: 30px;
  font-weight: 600;
  padding: 7px 12px;
  border-bottom: 2px solid var(--main-color);
}

.nav-list li.btn a:hover {
  background-color: transparent;
}
.nav-list li.btn a:active {
  background-color: var(--main-color);
}

.btn-hero {
  background: var(--glass-background);
  font-size: 1em;
  font-family: Montserrat, sans-serif;
  max-width: 200px;
  width: 200px;
  color: white;
  padding: 10px 50px;
  border-radius: 50px;
  transition: all 0.2s ease;
  margin: 20px auto auto auto;
  border: none;
  font-weight: 600;
  border: var(--glass-border);
  cursor: pointer;
  position: relative;
}

.full-width-img {
  min-width: 100vw;
  margin-left: calc(-50vw + 50%);
  display: block;
  width: 100%;
}

.grid-container {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr 1fr;
  height: 95vh;
  margin: auto;
}

.grid-item {
  background-color: var(--main-color);
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.3s ease;
}
.effect-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  background: linear-gradient(
    to top,
    rgba(40, 92, 120, 0.2) 0%,
    var(--glass-background) 50%,
    transparent 100%
  ); /* Полная прозрачность сверху */
  color: white;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  transform: translateY(100%);
  transition: all 0.2s ease;
  opacity: 0;
  z-index: 2;
}

.grid-item:hover .video-content {
  transform: scale(1.05);
  filter: brightness(0.7);
}
.grid-item:hover {
  transform: scale(1.02);
}
.grid-item:hover .effect-overlay {
  transform: translateY(0);
  opacity: 1;
}
.video-content {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
img {
  pointer-events: none;
}
.grid-container > :nth-child(1) {
  grid-column: span 2;
  grid-row: span 2;
}
.grid-container > :nth-child(2) {
  grid-row: span 2;
}
.grid-container > :nth-child(5) {
  grid-column: span 2;
}

section {
  padding-top: 80px;
}

section:first-child {
  padding-top: 0;
}

footer {
  margin-top: 80px;
}

.cards {
  display: grid;
  padding: 120px 50px;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.card-item {
  background-color: var(--main-color);
  border-radius: 10px;
  position: relative;
  background: var(--glass-background);
  border: var(--glass-border);
  backdrop-filter: blur(20px);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.37);
  overflow: hidden;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

section.cards-section {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  position: relative;
}
.cards-section h1 {
  position: absolute;
  top: 45px; /* Отступ от верха секции */
  text-align: center;
  font-size: 2em;
  font-family: "Syncopate", sans-serif;
  z-index: 10;
  margin: 0;
  width: 100%;
}

.card-item .card-content {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  justify-content: center;
  align-items: center;
  align-content: center;
  padding: 0 15px;
  flex-wrap: wrap;
}

.card-item .card-content p,
.card-item .card-content h3 {
  display: flex;
  text-align: center;
}

.card-item .card-content img {
  margin-bottom: 20px;
}

footer {
  background-color: #181818;
}
.footer {
  width: 85%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 40px;
  margin: auto auto;
  padding: 20px 0 0 0;
}

.footer > :nth-child(1) {
  grid-column: span 2;
  padding-right: 25px;
}
.footer > :nth-child(5) {
  grid-column: span 5;
  align-self: end;
  cursor: pointer;
  color: white;
  margin: 0 -50px;
  justify-self: center;
}

.footer-item {
  padding: 10px;
  justify-self: center;
}
.footer-item > h2 {
  margin-bottom: 15px;
}
.footer > :nth-child(1) > p {
  margin-bottom: 20px;
}

.footer-nav li + li {
  padding-top: 5px;
}

.footer-item h3 {
  margin-bottom: 15px;
}
