@media (max-width: 1030px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(4, 1fr);
    height: 150vh;
  }
  .grid-container > :nth-child(1) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .grid-container > :nth-child(2) {
    grid-row: span 1;
  }
}

@media (min-width: 380px) and (max-width: 600px) {
  .hero-info h1 {
    font-size: 3em;
  }
  .hero-info p {
    font-size: 0.9em;
  }
  .grid-container {
    height: 130vh;
  }
}

@media (min-width: 320px) and (max-width: 380px) {
  .hero-info h1 {
    font-size: 2em;
  }
  .hero-info p {
    font-size: 0.8em;
  }
  .hero-info h2 {
    font-size: 16px;
  }
  header h2 {
    font-size: 20px;
  }
}

@media (max-width: 992px) {
  .main-card-container {
    height: 350px;
  }

  .main-card-container img {
    width: 18%;
  }

  .main-card-container img:hover {
    width: 35%;
  }
}
@media (max-width: 768px) {
  .main-card-container {
    height: 300px;
    gap: 6px;
  }

  .main-card-container img {
    width: 16%;
  }

  .main-card-container img:hover {
    width: 35%;
  }
}

@media (max-width: 480px) {
  .main-card-container {
    height: 260px;
    gap: 4px;
  }

  .main-card-container img {
    width: 10%;
  }

  .main-card-container img:hover {
    width: 35%; /* минимальный безопасный hover */
  }
}
