/*Хедер*/
@media (max-width: 1025px) {
  header {
    font-size: 24px;
  }
  .burger-menu {
    display: block;
    position: fixed;
    cursor: pointer;
    z-index: 1001;
  }
  .burger-icon {
    display: block;
  }
  .nav-list {
    position: fixed;
    top: -16px;
    left: -7.5vw;
    background-color: #181818;
    background-image: linear-gradient(135deg, rgba(18, 18, 18, 0.9), #285c782e),
      url("data:image/svg+xml,%3Csvg viewBox='0 0 400 400' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='0.9' numOctaves='1' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.1'/%3E%3C/svg%3E");
    width: 100vw;
    height: calc(100vh + 1px);
    z-index: 999;
    padding: 80px 30px 30px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
    transition: all 0.3s ease;
    margin: 0;
    justify-content: center;
  }
  .burger-checkbox:checked ~ .nav .nav-list {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
  }
  .burger-checkbox:checked ~ .burger-menu .burger-icon {
    display: none;
  }
  .burger-checkbox:checked ~ .burger-menu .close-icon {
    display: block;
  }
}

/*Футер*/
@media (min-width: 740px) and (max-width: 1000px) {
  .footer {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 1fr 50px;
  }
  .footer > :nth-child(1) {
    grid-column: span 3;
    padding-right: 10px;
    align-items: center;
    justify-content: center;
  }
  .footer > :nth-child(2) {
    grid-row: span 1;
  }
  .footer-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer > :nth-child(5) {
    grid-column: span 3;
  }
}

@media (max-width: 740px) {
  .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto) 50px;
  }
  .footer > :nth-child(1) {
    grid-column: span 1;
    align-items: center;
    justify-content: center;
    padding-right: 10px;
  }
  .footer > :nth-child(2) {
    grid-row: span 1;
  }
  .footer > :nth-child(5) {
    grid-column: span 1;
  }
  .footer > :nth-child(5) p {
    font-size: 12px;
    display: block;
    white-space: normal;
    word-wrap: break-word;
  }
  .footer-item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .footer-item + .footer-item {
    margin-top: 20px;
  }
}

@media (max-width: 380px) {
  .hero-info h1 {
    font-size: 2em;
  }
  .hero-info p {
    font-size: 0.8em;
  }
  .hero-info h2 {
    font-size: 16px;
  }
  header h2 {
    font-size: 20px;
  }
}

@media (max-width: 600px) {
  .nav-list a {
    font-size: 20px;
  }
  .nav-list {
    gap: 20px;
  }
  .nav-list li.btn a {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  .hero p {
    font-size: 14px;
  }
  .btn-hero {
    padding: 10px 25px;
    font-size: 0.8em;
  }
}
