@media (max-width: 1420px) {
  .carousel-frame {
    width: 300px;
    height: 380px;
  }
  .carousel-viewport {
    width: 930px;
  }
  .carousel-buttons {
    display: flex;
    justify-content: center;
  }
}

@media (max-width: 1230px) {
  .carousel-frame {
    width: 270px;
    height: 360px;
  }
  .carousel-viewport {
    width: 830px;
    height: 430px;
  }
  .carousel-frame-center {
    font-size: 0.85em;
  }

  .carousel-buttons {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1120px) {
  .carousel-frame {
    width: 260px;
    height: 350px;
  }
  .carousel-viewport {
    width: 790px;
    height: 420px;
  }
  .carousel-frame-title {
    font-size: 1.1em;
  }
  .carousel-frame-center {
    font-size: 0.8em;
  }
  .carousel-frame-title 
  /* Центрируем карусель в контейнере */
  .carousel-buttons {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 1070px) {
  .carousel-frame {
    width: 240px;
    height: 340px;
  }
  .carousel-viewport {
    width: 740px;
  }
}
@media (max-width: 1000px) {
  .carousel-frame {
    width: 220px;
    height: 310px;
  }
  .carousel-viewport {
    width: 680px;
    height: 380px;
  }
  .carousel-frame-center {
    font-size: 0.7em;
  }
}
@media (max-width: 930px) {
  .carousel-frame {
    width: 200px;
    height: 280px;
  }
  .carousel-viewport {
    width: 610px;
    height: 350px;
  }
  .carousel-frame-title {
    font-size: 0.8em;
  }
}

@media (max-width: 835px) {
  .carousel-frame {
    width: 270px;
    height: 320px;
  }
  .carousel-viewport {
    width: 540px;
    margin: 0 50px;
    overflow: hidden;
  }
  .carousel-frame-title {
    font-size: 1em;
  }
}

@media (max-width: 770px) {
  .carousel-frame {
    width: 250px;
    height: 300px;
  }
}
@media (max-width: 720px) {
  .carousel-frame {
    width: 220px;
    height: 270px;
  }
  .carousel-viewport {
    width: 460px;
  }
}
@media (max-width: 650px) {
  .carousel-section {
    gap: 0;
  }
  .carousel-frame {
    width: 330px;
    height: 390px;
  }
  .carousel-viewport {
    width: 340px;
    height: 400px;
  }
  .carousel-next,
  .carousel-prev {
    display: none;
  }
  .carousel-viewport {
    margin: 0 !important;
  }
}

@media (max-width: 350px) {
  .carousel-frame {
    width: 100%;
    height: 360px;
  }
}
.carousel-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
@media (max-width: 915px) {
  .frame-container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 30px;
    height: auto;
  }

  .frame-item {
    height: auto;
    padding-bottom: 40px;
  }

  .frame-item p {
    flex: 1;
  }
  .frame-text h2 {
    text-align: center;
  }
  .frame-text {
    text-align: center;
  }
}

@media (max-width: 720px) {
  .frame-item-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
@media (max-width: 375px) {
  .frame-text h2 {
    font-size: 20px;
  }
  .frame-text p {
    font-size: 14px;
  }
}
