@media (max-width: 1100px) {
  .item1-grid-container {
    gap: 15px;
  }
}

@media (min-width: 760px) and (max-width: 860px) {
  .item1-grid-item img {
    height: 340px;
  }
  .item1-grid-item h3 {
    font-size: 1em;
  }
  .item1-grid-item p {
    font-size: 0.9em;
  }
}

@media (max-width: 760px) {
  .item1-grid-container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
